<style>
    .main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    .container{
        text-align: center;
        border: 1px solid gray;
        margin: 20px 20px;
        background-color: skyblue;
        color: honeydew;
        border-radius: 10px;
    }
</style>
<div class="main">

<div class="container">
    <h1>City: {{todayWeather.cityName}} </h1>
    <h2>Temp: {{todayWeather.temp}}&deg; </h2>
    <div class="img">
        <img src=" {{todayWeather.icon}} " alt="weather type image">
    </div>
    <h3>{{todayWeather.weatherKind}}</h3>
    <h4>Max: {{todayWeather.tempMax}}&deg;</h4>
    <h4>Min: {{todayWeather.tempMin}}&deg;</h4>
</div>

<div class="container">
    <h1>City: {{todayWeather.cityName}} </h1>
    <h2>Temp: {{todayWeather.temp}}&deg; </h2>
    <div class="img">
        <img src=" {{todayWeather.icon}} " alt="weather type image">
    </div>
    <h3>{{todayWeather.weatherKind}}</h3>
    <h4>Max: {{todayWeather.tempMax}}&deg;</h4>
    <h4>Min: {{todayWeather.tempMin}}&deg;</h4>
</div>

<div class="container">
    <h1>City: {{todayWeather.cityName}} </h1>
    <h2>Temp: {{todayWeather.temp}}&deg; </h2>
    <div class="img">
        <img src=" {{todayWeather.icon}} " alt="weather type image">
    </div>
    <h3>{{todayWeather.weatherKind}}</h3>
    <h4>Max: {{todayWeather.tempMax}}&deg;</h4>
    <h4>Min: {{todayWeather.tempMin}}&deg;</h4>
</div>

<div class="container">
    <h1>City: {{todayWeather.cityName}} </h1>
    <h2>Temp: {{todayWeather.temp}}&deg; </h2>
    <div class="img">
        <img src=" {{todayWeather.icon}} " alt="weather type image">
    </div>
    <h3>{{todayWeather.weatherKind}}</h3>
    <h4>Max: {{todayWeather.tempMax}}&deg;</h4>
    <h4>Min: {{todayWeather.tempMin}}&deg;</h4>
</div>

<div class="container">
    <h1>City: {{todayWeather.cityName}} </h1>
    <h2>Temp: {{todayWeather.temp}}&deg; </h2>
    <div class="img">
        <img src=" {{todayWeather.icon}} " alt="weather type image">
    </div>
    <h3>{{todayWeather.weatherKind}}</h3>
    <h4>Max: {{todayWeather.tempMax}}&deg;</h4>
    <h4>Min: {{todayWeather.tempMin}}&deg;</h4>
</div>

<div class="container">
    <h1>City: {{todayWeather.cityName}} </h1>
    <h2>Temp: {{todayWeather.temp}}&deg; </h2>
    <div class="img">
        <img src=" {{todayWeather.icon}} " alt="weather type image">
    </div>
    <h3>{{todayWeather.weatherKind}}</h3>
    <h4>Max: {{todayWeather.tempMax}}&deg;</h4>
    <h4>Min: {{todayWeather.tempMin}}&deg;</h4>
</div>

<div class="container">
    <h1>City: {{todayWeather.cityName}} </h1>
    <h2>Temp: {{todayWeather.temp}}&deg; </h2>
    <div class="img">
        <img src=" {{todayWeather.icon}} " alt="weather type image">
    </div>
    <h3>{{todayWeather.weatherKind}}</h3>
    <h4>Max: {{todayWeather.tempMax}}&deg;</h4>
    <h4>Min: {{todayWeather.tempMin}}&deg;</h4>
</div>

<div class="container">
    <h1>City: {{todayWeather.cityName}} </h1>
    <h2>Temp: {{todayWeather.temp}}&deg; </h2>
    <div class="img">
        <img src=" {{todayWeather.icon}} " alt="weather type image">
    </div>
    <h3>{{todayWeather.weatherKind}}</h3>
    <h4>Max: {{todayWeather.tempMax}}&deg;</h4>
    <h4>Min: {{todayWeather.tempMin}}&deg;</h4>
</div>

<div class="container">
    <h1>City: {{todayWeather.cityName}} </h1>
    <h2>Temp: {{todayWeather.temp}}&deg; </h2>
    <div class="img">
        <img src=" {{todayWeather.icon}} " alt="weather type image">
    </div>
    <h3>{{todayWeather.weatherKind}}</h3>
    <h4>Max: {{todayWeather.tempMax}}&deg;</h4>
    <h4>Min: {{todayWeather.tempMin}}&deg;</h4>
</div>

</div>